.navbar-master-con {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    position: sticky; 

    

}
.navbar-child {
    display: inline-block; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    background-color: white;
   
   
}
.brand-link {
    margin-top: 2vh;
    text-decoration: none;
    margin-left: 4vw; 
    margin-bottom: 2vh; 
    font-size: 5vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: rgb(42, 42, 42); 
    font-weight: 750;
    
}
.blogs {
    padding-left: 14px; 
    font-weight: bolder;
}
.brand-link:active {
    transform: scale(.90)
}
.brand {
    height: 8vh;
    margin-right: -1px;
}
.button-con {
    position: relative; 
    float: right; 
    display: flex;
    margin-top: 4.5vh; 
    margin-right: 2vw;  
    align-items: center; 
    justify-content: center; 
    
    
}
.login {
    background-color: transparent; 
    color: rgb(42, 42, 42);
    font-size: 4vh; 
    border: none; 
    display: inline-block; 
    align-items: center; 
    justify-content: center;
}
.login:active {
    transform: scale(.90); 
}
.login:hover {
    color:rgb(2, 231, 150);
    cursor: pointer;
}
.home-link {
    display: inline-block; 
    flex-direction: row;  
}
.fixed-navbar {
    position: sticky; 
    margin-top: 14vh; 
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(2, 231, 150); 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 5px;
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    width: 100%;
    overflow: hidden;
    
}
.dropdown-master {
    z-index: 100; 
    position: fixed;
    margin-top: 45vh; 
    margin-left: 5px;
    background-color: rgb(42, 42, 42);
    padding-top: 5px;
    padding-bottom: 5px; 
    padding-left: 9px;
    padding-right: 8px;
    color: white;
}
.dd-line {
    width: 60px;
}
.fixed-ul {
    list-style-type: none;
    display: flex; 
    justify-content: space-between
}
.fixed-li {
    display: flex; 
    flex-direction: row;
    padding-right: 20px;
}
